ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

DirectoryIndex /index.html

RewriteEngine On

# alles von ct.ws → GitHub Pages spiegeln
RewriteRule ^(.*)$ https://tidowillems.github.io/justthisspace/$1 [L,R=301]

AddType text/markdown .md
AddType text/plain .md
